.back-button-container {
    display: flex;
    justify-content: flex-end;
    padding: 1vmax;
}

.back-button {
    /*background-color: coral;*/
    font-size: 2rem;
    color: rgb(238, 232, 204);
    border-radius: 2vmax;
    border: none;
    padding: 0.5vmax 1vmax;
    cursor: pointer;
}
.back-button:hover {
    transform: scale(1.05);
}
