.board-container {
    display: flex;
    justify-content: center;
}

.game-board {
    border-collapse: collapse;
    border: 0.4vmax solid black;
}

.game-cell {
    width: 4vmax;
    height: 4vmax;
    border: 0.05vmax solid black;
}

.cell-red {
    background-color: red;
    border-radius: 3vmax;
}

.cell-yellow {
    background-color: yellow;
    border-radius: 3vmax;
}

.cell-white {
    background-color: white;
    border-radius: 3vmax;
}

.cell-clickable {
    cursor: pointer;
}

.cell-default {
    cursor: default;
}

h1 {
    margin-top: 0%;
}
