.bar {
    background-color: rgba(197, 222, 243, 0.7);
    display: flex;
    justify-content: space-between;
    /*justify-items: center;*/
}

.logo-image {
    align-self: center;
    width: calc(
        12vmax + 2rem
    ); /* Set width to 30% of the maximum viewport dimension */
    height: auto; /* Maintain the aspect ratio */
}
.logo-image:hover {
    transform: scale(1.05);
}

.button {
    background-color: coral;
    color: rgb(238, 232, 204);
    border-radius: 2vmax;
    border-color: coral;
    text-align: center;
    /*border: 0.2;*/
    width: 8vmax;
    height: 4vmax;
    margin: 1vmax;
}
.button:hover {
    transform: scale(1.1);
}
