.wrapper {
    width: 80%;
    max-width: calc(38vmax + 2rem);
    height: calc(24vmax + 2rem);
    min-height: fit-content;
    border-radius: 2vmax;
    padding: 2vmax;
    text-align: center;
    border: 0.1vmax solid #011530;
    backdrop-filter: blur(8px);
    margin: 2vmax;
    /*text-shadow: 2px 2px 5px rgb(3, 2, 19);*/
}
.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 2vmax;
}

.input-field {
    position: relative;
    border-bottom: 0.3vmax solid #011530;
    margin: 1.5vmax 0;
}

.input-field label {
    position: absolute;
    color: rgb(2, 29, 29);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.3vmax;
    pointer-events: none;
    transition: 0.15s ease;
}

.input-field input {
    width: 100%;
    height: 3vmax;
    color: rgb(2, 29, 29);
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.5vmax;
}

.input-field input:focus + label,
.input-field input:not(:placeholder-shown) + label {
    font-size: 0.5vmax+ 0.4rem;
    top: 0.5vmax;
    transform: translateY(-160%);
}
input::placeholder {
    /*color: rgb(98, 187, 238);*/
    opacity: 0;
}
.select-field {
    height: 2vmax;
    width: 20vmax;
    text-align: center;
}

.input-field2 {
    height: 2vmax;
    width: 15vmax;
    text-align: left;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
    padding-right: 1vmax;
}

.button-form {
    background-color: coral;
    font-size: 1.25rem;
    color: rgb(238, 232, 204);
    border-radius: 2vmax;
    border-color: coral;
    text-align: center;
    /*border: 0.2;*/
    width: 5vmax;
    height: 2.5vmax;
    margin: 1vmax;
    cursor: pointer;
}
.button-form:hover {
    transform: scale(1.1);
}

label {
    color: azure;
    font-size: 1.5rem;
    margin-bottom: 1vmax;
}

.text-info {
    color: rgb(11, 3, 44);
    font-size: 1.2vmax;
    text-align: left;
}
